._SearchBar_omjax_1[data-search-mobile-state=open]{animation:_slideDownAndFadeIn_omjax_1 .4s ease-out forwards}@keyframes _slideDownAndFadeIn_omjax_1{0%{transform:translateY(100px)}to{transform:translateY(0);opacity:1}}
